
/*  FONTS*/
$fuente-primaria: 'Work Sans', sans-serif;

/* COLORS*/
$negro2:#020204;
$negro1:#0b0000;
$marron4:#1a0e0c;
$marron3:#281c18;
$marron2:#372923;
$marron1:#45372f;
$gris2: #636363;
$gris1: #85827e;
$beige3:#d1b39f;
$beige2:#ffd1b3;
$beige1:#ffecd1;
$blanco:white;

/* FONT-SIZES */
$bold: 700;
$medium: 500; 

// Tamaño de Media Queries
$telefono: 576px;
$tablet: 768px;
$desktop: 1024px;